Debug
Release
.settings

.cache
CMakeFiles
CMakeCache.txt
Makefile

template-project
template-project.bin
template-project.hex
template-project.map

#vscode 
.vscode
.cproject
.cache
CMakeLists.txt
template-project.code-workspace