name: C/C++ CI

on:
  push:
    branches: [ "main" ,"test_automated_build"]
  pull_request:
    branches: [ "main" ]

jobs:
  build_template_project:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v3 
       with:
          repository: HyperloopUPV-H8/ST-LIB 
          ref: 9a5647c0018067351c4c6cfc52dfdc500e56d347
     - uses: carlosperate/arm-none-eabi-gcc-action@v1
     - run: arm-none-eabi-gcc --version
     - name: Install dependencies
       run: pip install GitPython colorama
     - name: Set up ST-LIB
       run: ls && cp -r ../* /opt/ && mv /opt/template-project /opt/ST-LIB
     - name: Display ST-LIB
       run: ls /opt/ST-LIB
     - uses: actions/checkout@v3 
       with: 
         repository: ' '
     - name: Invoking python
       run: python3 tools/build.py -eth ON -t NUCLEO -bb Debug

